# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

Recommender systems are software tools and techniques providing suggestions for
items to be of use to a user. The suggestions provided by a recommender system are
aimed at supporting their users in various decision-making processes, such as what
items to buy, what music to listen, or what news to read. Recommender systems
are valuable means for online users to cope with information overload and help
them making better choices. They are now one of the most powerful and popular
information discovery tools on the web. Several techniques for recommendation
generation have been proposed, and during the last decade, many of them have also
been successfully deployed in commercial environments.
Development of recommender systems is a multi-disciplinary effort which
involves experts from various fields such as artificial intelligence, human computer
interaction, data mining, statistics, decision support systems, marketing, and consumer behavior.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [27]:
grouped = data.groupby(["CustomerID", "ProductName"]).sum()
grouped.loc[33]

                                   SalesID  ProductID  Quantity
ProductName
Apricots - Dried                    172592        324         1
Assorted Desserts                  5363705        219         1
Bandage - Flexible Neon            6299165        273         1
Bar Mix - Pina Colada, 355 Ml      3147536        281         1
Beans - Kidney, Canned             6507033        300         1
Beef - Chuck, Boneless             3827834        439         1
Beef - Prime Rib Aaa               5020972        286         1
Beer - Original Organic Lager      1899667        432         1
Beer - Rickards Red                4280329        284         1
Black Currants                      814477        110         1
Blackberries                       6022221        441         1
Bread - Italian Roll With Herbs    2214661        287         1
Bread Foccacia Whole               2277923        378         1
Cake - Box Window 10x10x2.5        6448281        383         1
Cassis                             1888258         53         1
Cheese - Cottage Cheese            1508062        333         1
Crab - Imitation Flakes            6515659         23         1
Fondant - Icing                    5056183        387         1
French Pastry - Mini Chocolate     5638266        214         1
General Purpose Trigger            2958865         91         1
Grapes - Red                       4788871        267         1
Grouper - Fresh                    1919415        490         2
Hersey Shakes                      2768961        184         1
Ice Cream Bar - Drumstick          1579966        154         1
Lamb - Pieces, Diced               6509275        417         1
Lettuce - Spring Mix               6562264        886         2
Mangoes                            5869069        342         1
Muffin Batt - Choc Chk             5150162        309         1
Onions - Vidalia                    532838        322         1
Pasta - Cheese / Spinach Bauletti  4226296        348         1
Pate - Cognac                       209913        213         1
Pepper - Black, Whole              3056733        187         1
Pepper - White, Ground             1943474        306         1
Phyllo Dough                       2826875        181         1
Pork - Bacon, Double Smoked        4374761        142         1
Pork - Hock And Feet Attached      6214157        199         1
Potatoes - Idaho 100 Count          869022         77         1
Quiche Assorted                    3158082        232         1
Rum - Coconut, Malibu              4667682        138         1
Salsify, Organic                   2253287        870         2
Sauce - Demi Glace                 2005605        162         1
Smoked Paprika                     1835470        379         1
Soupfoamcont12oz 112con            3452573        263         1
Squid - Tubes / Tenticles 10/20    2235546         70         1
Sword Pick Asst                    2220112        289         1
Tahini Paste                       1902894        366         1
Towels - Paper / Kraft             4150957        319         1
Tuna - Salad Premix                4835339        328         1
Vaccum Bag 10x13                   2490334        381         1
Veal - Eye Of Round                3013305        259         1
Veal - Inside, Choice              4673727        386         2
Veal - Sweetbread                  2448019        340         1
Water - Green Tea Refresher         255580        317         1
Wine - Crozes Hermitage E.         5332057         51         1
Wine - Gato Negro Cabernet         4376469        315         1
Wine - Sogrape Mateus Rose         3975703         67         1
Wine - Two Oceans Cabernet         3939603        372         1
Wine - Valpolicella Masi           3179606        296         1
Yogurt - French Vanilla            1465031        320         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
pivot_grouped = grouped.pivot_table(index="ProductName", columns= "CustomerID", values ="Quantity", fill_value = 0)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [6]:
squareform(pdist(pivot_grouped.T, 'euclidean'))

array([[  0.        ,  11.91637529,  10.48808848, ..., 228.62851966,
        239.        , 229.77380181],
       [ 11.91637529,   0.        ,  11.74734012, ..., 228.01096465,
        239.03765394, 229.70415756],
       [ 10.48808848,  11.74734012,   0.        , ..., 228.08112592,
        238.26665734, 229.77380181],
       ...,
       [228.62851966, 228.01096465, 228.08112592, ...,   0.        ,
        304.13812651, 305.16389039],
       [239.        , 239.03765394, 238.26665734, ..., 304.13812651,
          0.        , 303.10889132],
       [229.77380181, 229.70415756, 229.77380181, ..., 305.16389039,
        303.10889132,   0.        ]])

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [7]:
distances = pd.DataFrame(1/(1 + squareform(pdist(pivot_grouped.T, 'euclidean'))), 
                         index=pivot_grouped.columns, columns=pivot_grouped.columns)

customer_33 = distances.loc[[33]].transpose()
customer_33 = customer_33.sort_values(by = 33, ascending=False)
customer_33 = customer_33.head(6)
customer_33

CustomerID        33
CustomerID
33          1.000000
3317        0.087047
3535        0.087047
264         0.087047
2503        0.085983
3305        0.085638

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [8]:
similar = grouped.query("CustomerID == 3317 or CustomerID == 3535  or CustomerID == 264 or CustomerID == 2503 or CustomerID == 3305")
similar

                                           SalesID  ProductID  Quantity
CustomerID ProductName
264        Apricots - Halves               3730301        278         1
           Apricots Fresh                  5035449        158         1
           Bacardi Breezer - Tropical       756802         49         1
           Bagel - Plain                   6728381        262         1
           Banana - Leaves                 6298459        271         1
...                                            ...        ...       ...
3535       Tray - 16in Rnd Blk             6122047        166         1
           Wanton Wrap                     2643670        253         1
           Wine - Blue Nun Qualitatswein   3314104        269         1
           Wine - Magnotta, Merlot Sr Vqa  6563480        192         1
           Yoghurt Tubes                   2723180        179         1

[270 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [9]:
a = similar.groupby(["ProductName", "ProductID"]).agg({"Quantity": "sum"})
a = a.Quantity.sort_values(ascending=False)
a = pd.DataFrame(a)
a

                                         Quantity
ProductName                   ProductID
Towels - Paper / Kraft        319               3
Soup - Campbells Bean Medley  382               3
Wine - Blue Nun Qualitatswein 269               3
Cup - Translucent 7 Oz Clear  188               2
Pecan Raisin - Tarts          48                2
...                                           ...
Pepsi - Diet, 355 Ml          407               1
Pepper - White, Ground        306               1
Pepper - Paprika, Hungarian   60                1
Pepper - Black, Whole         187               1
Anchovy Paste - 56 G Tube     131               1

[221 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [36]:
pd.concat([a, pd.DataFrame(items_of_33)], axis=1, join="outer")

                               Quantity  ProductID
Appetizer - Mushroom Tart 326       1.0        NaN
Appetizer - Sausage Rolls 73        1.0        NaN
Apricots - Dried          324       1.0        NaN
Apricots - Halves         278       1.0        NaN
Apricots Fresh            158       1.0        NaN
...                                 ...        ...
W                         i         NaN        NaN
                          i         NaN        NaN
                          i         NaN        NaN
                          i         NaN        NaN
Y                         o         NaN        NaN

[280 rows x 2 columns]

In [32]:
items_of_33 = grouped.loc[33].ProductID
pd.DataFrame(items_of_33)

                                   ProductID
ProductName
Apricots - Dried                         324
Assorted Desserts                        219
Bandage - Flexible Neon                  273
Bar Mix - Pina Colada, 355 Ml            281
Beans - Kidney, Canned                   300
Beef - Chuck, Boneless                   439
Beef - Prime Rib Aaa                     286
Beer - Original Organic Lager            432
Beer - Rickards Red                      284
Black Currants                           110
Blackberries                             441
Bread - Italian Roll With Herbs          287
Bread Foccacia Whole                     378
Cake - Box Window 10x10x2.5              383
Cassis                                    53
Cheese - Cottage Cheese                  333
Crab - Imitation Flakes                   23
Fondant - Icing                          387
French Pastry - Mini Chocolate           214
General Purpose Trigger                   91
Grapes - Red                             267
Grouper - Fresh                          490
Hersey Shakes                            184
Ice Cream Bar - Drumstick                154
Lamb - Pieces, Diced                     417
Lettuce - Spring Mix                     886
Mangoes                                  342
Muffin Batt - Choc Chk                   309
Onions - Vidalia                         322
Pasta - Cheese / Spinach Bauletti        348
Pate - Cognac                            213
Pepper - Black, Whole                    187
Pepper - White, Ground                   306
Phyllo Dough                             181
Pork - Bacon, Double Smoked              142
Pork - Hock And Feet Attached            199
Potatoes - Idaho 100 Count                77
Quiche Assorted                          232
Rum - Coconut, Malibu                    138
Salsify, Organic                         870
Sauce - Demi Glace                       162
Smoked Paprika                           379
Soupfoamcont12oz 112con                  263
Squid - Tubes / Tenticles 10/20           70
Sword Pick Asst                          289
Tahini Paste                             366
Towels - Paper / Kraft                   319
Tuna - Salad Premix                      328
Vaccum Bag 10x13                         381
Veal - Eye Of Round                      259
Veal - Inside, Choice                    386
Veal - Sweetbread                        340
Water - Green Tea Refresher              317
Wine - Crozes Hermitage E.                51
Wine - Gato Negro Cabernet               315
Wine - Sogrape Mateus Rose                67
Wine - Two Oceans Cabernet               372
Wine - Valpolicella Masi                 296
Yogurt - French Vanilla                  320

                                         Quantity
ProductName                   ProductID
Towels - Paper / Kraft        319               3
Soup - Campbells Bean Medley  382               3
Wine - Blue Nun Qualitatswein 269               3
Cup - Translucent 7 Oz Clear  188               2
Pecan Raisin - Tarts          48                2

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.